/* Estilos generales */
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 2.5rem;
    font-family: 'Bakbak One', cursive;

}

.seccion-oscura {
    background: linear-gradient(180deg, rgba(26,53,79,1) 23%, rgba(20,76,126,1) 55%, rgba(26,53,79,1) 79%);
    color: white;
}

.seccion-titulo {
    font-size:  2rem;
    padding: 15px 0;
    font-family:'Bakbak One', cursive;
}

.seccion-texto {
    font-size: 1.2rem;
}

.seccion-descripcion {
    font-size: 1.2rem;
    color: #584e4e;
}

.seccion-clara {
    color: black;
    background-color: white;
}

.texto-negro {
    color: black;
}

.texto-blanco {
    color: white;
}

/* Barra de navegacion */ 
.navbar {
    padding: 2rem;
    background-color: aliceblue;
}

.navbar-collapse {
    align-items: center;
    justify-content: space-between;
}

/* Section Hero */
.hero {
    background-color: #f5f6f7;
    min-height: 450px;
    text-align: center;
}
.hero-principal {
    padding: 3rem;
}

.hero-img-desarrollador {
    width: 200px;
    height: 200px;
    margin: 20px;
}

.hero-principal h2 {
    font-size: 1.5rem;
    color: #615151;
}

/* Sobre mi */
.sobre-mi {
    background: linear-gradient(180deg, rgba(26,53,79,1) 23%, rgba(20,76,126,1) 55%, rgba(26,53,79,1) 79%);
    height: 500px;
    padding: 10px;
}

.sobre-mi .contenedor {
    max-width: 500px;
    text-align: center;
}

/* Experiencia */
.experiencia {
    padding: 40px 40px 60px 40px;
}

.experiencia .columna {
    padding: 20px;
    border: 2px solid #8080804d;
    transition: all 0.2s ease-in;
}


.experiencia-titulo {
    font-size: 25px;
    font-weight: bold;
    margin: 10px 0;
}

.full {
    font-weight: bold;
    transform: scale(120%);
    color: white;
    background: linear-gradient(180deg, rgba(26,53,79,1) 23%, rgba(20,76,126,1) 55%, rgba(26,53,79,1) 79%);
}

.experiencia i {
    font-size: 2.5rem;
    color: lightblue ;
    background-color: #1b1b32;
    padding: 8px 19px;
    border-radius: 50%;
}

.badge-contenedor {
    font-size: 25px;
    font-weight: bold;
    margin: 10px 0;
}

.badge {
    margin: 5px;
}

/* Proyectos */

.proyectos-recientes {
    padding: 40px;
  }
  
.proyectos-recientes img {
    height: 100%;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    display: block;
    transition: all 0.2s ease;
}
  
.proyectos-contenedor {
    padding-top: 60px;
    margin-bottom: 40px;
}

.overlay{
    transition: all 0.2s ease;
    color: black;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    text-align: center;
}
.overlay p {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 0;
}
.proyecto {
    position: relative;
}

.overlay i {
    color: black;
    font-size: 60px;
    margin: 10px;
}

.overlay .iconos-contenedor {
    display: flex;
    justify-content: center;
  }

.proyecto:hover img {
    opacity: 0.2;
}

.proyecto:hover .overlay {
    opacity: 1;
}


/* Footer */

.ms-3 {
    font-size: 20px;
}
/* Responsive */
@media screen and (max-width:767px) {
    .navbar { 
        display: none;
    }
}

@media screen and (min-width: 700px) {
    .hero-inferior-img {
        max-width: 600px;
    }    
}

@media screen and (max-width: 400px) {
    .overlay {
        font-size: 18px;
    }

    .overlay i {
        font-size: 40px;
    }
    
}